@import url("https://unpkg.com/tailwindcss@^2/typography@0.2.x/dist/tailwind.min.css");
@import url("https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");


.cursive{
  font-family:"Poppins",cursive;
  font-weight: 700;
}



.prose img{
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

.home-name{
  font-size: 80px;
}

@media only screen and (max-width: 953px) {

  .home-name {
     font-size: 80px;
  }

}
@media only screen and (max-width: 834px) {

  .home-name {
     font-size: 60px;
  }

}
@media only screen and (max-width: 825px) {

  .home-name {
     font-size: 55px;
  }

}

@media only screen and (max-width: 637px) {

  .custom {
     padding-top: 200px;
  }

}

@media only screen and (max-width: 639px) {

  .home-name {
     font-size: 40px;
  }
  .small{
    font-size: 20px;
    margin-bottom: 20px;
  }
  .small-img{
    margin-bottom: 20px;
    margin-right: 40px;
  }

}